Repository crococoders/teztez, pull requests merged in 2020-04, with the labels that each got.

#8 feature/server-side-setup
  Server/Gateway/.dockerignore
  Server/Gateway/.env
  Server/Gateway/.gitignore
  Server/Gateway/Dockerfile
  Server/Gateway/Package.swift
  Server/Gateway/Sources/App/Controllers/.gitkeep
  Server/Gateway/Sources/App/Controllers/GatewayController.swift
  Server/Gateway/Sources/App/configure.swift
  Server/Gateway/Sources/App/routes.swift
  Server/Gateway/Sources/Run/main.swift
  Server/Gateway/Tests/AppTests/AppTests.swift
  Server/Gateway/docker-compose.yml
Labels: infra, server

#20 feature/shared-models
  .swiftlint.yml
  Package.swift
  Server/Gateway/Package.swift
  Shared/Models/Package.swift
  Shared/Models/Sources/SampleResponse.swift
  Shared/Tools/main.swift
Labels: infra

#18 feature/activities-page
  Client/Teztez.xcodeproj/project.pbxproj
  Client/Teztez/Core/Architecture/Navigation/ApplicationCoordinator.swift
  Client/Teztez/Core/Architecture/Navigation/ApplicationLaunchInstructor.swift
  Client/Teztez/Core/Architecture/Navigation/Controllers/CoordinatorNavigationController.swift
  Client/Teztez/Core/Architecture/Navigation/Coordinators/Coordinator.swift
  Client/Teztez/Core/Architecture/Navigation/Coordinators/ParentCoordinator.swift
  Client/Teztez/Core/Architecture/Navigation/Factories/CoordinatorFactory.swift
  Client/Teztez/Core/Architecture/Navigation/Factories/ModuleFactory.swift
  Client/Teztez/Core/Architecture/Navigation/Protocols/Presentable.swift
  Client/Teztez/Core/Architecture/Navigation/Router/Router.swift
  Client/Teztez/Core/Architecture/Navigation/Router/TransitionType.swift
  Client/Teztez/Core/Design System/ColorStyles.swift
  Client/Teztez/Core/Design System/FontStyles.swift
  Client/Teztez/Core/Extensions/Device/Device+Constants.swift
  Client/Teztez/Core/Extensions/UICollectionView/UICollectionView+Dequeue.swift
  Client/Teztez/Core/Extensions/UICollectionView/UICollectionView+Register.swift
  Client/Teztez/Core/Extensions/UIView/UIView+GradientLayer.swift
  Client/Teztez/Core/SceneDelegate/Configurators/NavigationBarSceneDelegateConfigurator.swift
  Client/Teztez/Flows/Activities/Controller/ActivitiesCollectionViewDataSource.swift
  Client/Teztez/Flows/Activities/Controller/ActivitiesCollectionViewDelegate.swift
  Client/Teztez/Flows/Activities/Controller/ActivitiesViewController.swift
  Client/Teztez/Flows/Activities/Controller/ActivitiesViewController.xib
  Client/Teztez/Flows/Activities/Coordinator/ActivitiesCoordinator.swift
  Client/Teztez/Flows/Activities/Coordinator/ActivitiesModuleFactory.swift
  Client/Teztez/Flows/Activities/Localization/Activities.strings
  Client/Teztez/Flows/Activities/Store/ActivitiesRowType.swift
  Client/Teztez/Flows/Activities/Store/ActivitiesStore.swift
  Client/Teztez/Flows/Activities/View/ActivitiesCell.swift
  Client/Teztez/Flows/Activities/View/ActivitiesCell.xib
  Client/Teztez/Flows/Activities/ViewModel/ActivitiesViewModel.swift
  Client/Teztez/Flows/MainTabBar/Controller/TabBarController.swift
  Client/Teztez/Flows/MainTabBar/Coordinator/TabBarCoordinator.swift
  Client/Teztez/Flows/MainTabBar/Localization/MainTabBar.strings
  Client/Teztez/Resources/Plists/Info.plist
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/AppIcon.appiconset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/activities.imageset/Arcade.pdf
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/activities.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/add-suggestion-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/add-suggestion-icon.imageset/Icon.pdf
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/backwards-icon.imageset/Backwards Icon.pdf
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/backwards-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/blender-icon.imageset/Blender Icon.pdf
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/blender-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/coach-icon.imageset/Coach Icon.pdf
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/coach-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/feed.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/feed.imageset/Icon.pdf
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/matching-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/matching-icon.imageset/Match Icon.pdf
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/schulte-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/schulte-icon.imageset/Schulte Icon.pdf
Labels: client, feature

#24 feature/spm-client-file
  Client/Rambafile
  Client/Templates/teztez/Code/Controller/viewcontroller.swift.liquid
  Client/Templates/teztez/Code/Localization/localization.strings.liquid
  Client/Templates/teztez/Code/Repository/repository.swift.liquid
  Client/Templates/teztez/Code/Store/store.swift.liquid
  Client/Templates/teztez/teztez.rambaspec
  Client/Teztez.xcodeproj/project.pbxproj
Labels: client, infra

#14 feature/common-activities-introduction-page
  Client/Teztez.xcodeproj/project.pbxproj
  Client/Teztez/Core/Extensions/Array+Factory.swift
  Client/Teztez/Core/UIComponents/PrimaryButton/PrimaryButton.swift
  Client/Teztez/Core/UIComponents/Protocols/NibLoadable.swift
  Client/Teztez/Core/UIComponents/Protocols/NibOwnerLoadable.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/Controller/ActivitiesIntroViewController.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/Controller/ActivitiesIntroViewController.xib
  Client/Teztez/Flows/Common/ActivitiesIntro/Localization/ActivitiesIntro.strings
  Client/Teztez/Flows/Common/ActivitiesIntro/ViewModel/ActivitiesIntroBlockViewModel.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/ViewModel/ActivitiesIntroBlockViewModelFactory.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/ViewModel/ActivitiesIntroViewModel.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/Views/ActivitiesIntroBlockView/ActivitiesIntroBlockView.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/Views/ActivitiesIntroBlockView/ActivitiesIntroBlockView.xib
  Client/Teztez/Flows/Common/ActivitiesIntro/Views/ActivityIconView/ActivityIconView.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/Views/ActivityIconView/ActivityIconView.xib
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/activity-info-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/activity-info-icon.imageset/backwards-how-icon.pdf
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/activity-usage-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/activity-usage-icon.imageset/backwards-what-icon.pdf
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/close-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/close-icon.imageset/backwards-close-icon.pdf
Labels: client

#27 feature/common-enter-text
  Client/Teztez.xcodeproj/project.pbxproj
  Client/Teztez/Core/Architecture/Navigation/Router/Router.swift
  Client/Teztez/Core/Extensions/Array/Array+Factory.swift
  Client/Teztez/Core/Extensions/UIImageview/UIImageView+Color.swift
  Client/Teztez/Core/SceneDelegate/CompositeSceneDelegateConfigurator.swift
  Client/Teztez/Core/SceneDelegate/Configurators/NavigationBarSceneDelegateConfigurator.swift
  Client/Teztez/Core/SceneDelegate/Configurators/StartupSceneDelegateConfigurator.swift
  Client/Teztez/Core/SceneDelegate/Configurators/ThirdPartiesSceneDelegateConfigurator.swift
  Client/Teztez/Core/SceneDelegate/SceneDelegate.swift
  Client/Teztez/Core/SceneDelegate/SceneDelegateConfiguratorFactory.swift
  Client/Teztez/Flows/Common/ActionSheet/Controller/UIViewController+ActionSheet.swift
  Client/Teztez/Flows/Common/ActionSheet/ViewModel/ActionSheet.swift
  Client/Teztez/Flows/Common/ActionSheet/ViewModel/ActionSheetViewModel.swift
  Client/Teztez/Flows/Common/TextInput/Controller/TextInputTextViewDelegate.swift
  Client/Teztez/Flows/Common/TextInput/Controller/TextInputViewController.swift
  Client/Teztez/Flows/Common/TextInput/Controller/TextInputViewController.xib
  Client/Teztez/Flows/Common/TextInput/Localization/TextInput.strings
  Client/Teztez/Flows/Common/TextInput/Store/TextInputStore.swift
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/close-text-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/close-text-icon.imageset/Light-M.pdf
Labels: client, feature
