Repository crococoders/teztez, pull requests merged in 2020-05, with the labels that each got.

#29 feature/text-size-change-page
  Client/Teztez.xcodeproj/project.pbxproj
  Client/Teztez/Flows/Common/FontSizeChange/Controller/FontSizeChangeViewController.swift
  Client/Teztez/Flows/Common/FontSizeChange/Controller/FontSizeChangeViewController.xib
  Client/Teztez/Flows/Common/FontSizeChange/Localization/FontSizeChange.strings
  Client/Teztez/Flows/Common/FontSizeChange/Store/FontSizeChangeStore.swift
  Client/Teztez/Flows/Common/FontSizeChange/View/SliderVIew/SliderView.swift
  Client/Teztez/Flows/Common/FontSizeChange/View/SliderVIew/SliderView.xib
Labels: client, feature

#31 feature/feed-service
  Server/Feed/.dockerignore
  Server/Feed/Dockerfile
  Server/Feed/Package.swift
  Server/Feed/Sources/App/Controllers/FeedController.swift
  Server/Feed/Sources/App/Controllers/Layout/LayoutFacade.swift
  Server/Feed/Sources/App/Controllers/Layout/LayoutStack.swift
  Server/Feed/Sources/App/Controllers/Layout/LayoutStrategy.swift
  Server/Feed/Sources/App/Controllers/Layout/LayoutWeight.swift
  Server/Feed/Sources/App/Mocks/MockAnalyticsService.swift
  Server/Feed/Sources/App/Mocks/MockContentService.swift
  Server/Feed/Sources/App/Mocks/Providers.swift
  Server/Feed/Sources/App/configure.swift
  Server/Feed/Sources/App/routes.swift
  Server/Feed/Sources/Run/main.swift
  Server/Feed/Tests/AppTests/AppTests.swift
  Server/Feed/docker-compose.yml
  Shared/Models/Sources/ActionBlock.swift
  Shared/Models/Sources/Block.swift
  Shared/Models/Sources/BlockType.swift
  Shared/Models/Sources/DetailedInformationBlock.swift
  Shared/Models/Sources/HeadlinedInformationBlock.swift
  Shared/Models/Sources/InformationBlock.swift
  Shared/Models/Sources/LayoutType.swift
  Shared/Models/Sources/SampleResponse.swift
  Shared/Models/Sources/StatisticsBlock.swift
  Shared/Models/Sources/SystemBlock.swift
Labels: feature, server

#32 feature/personal-coach-first page
  Client/Teztez.xcodeproj/project.pbxproj
  Client/Teztez/Core/Architecture/Navigation/Factories/CoordinatorFactory.swift
  Client/Teztez/Core/Architecture/Navigation/Router/Router.swift
  Client/Teztez/Core/Extensions/Device/Device+Constants.swift
  Client/Teztez/Core/UIComponents/ActivityHeaderView/View/ActivityHeaderView.swift
  Client/Teztez/Core/UIComponents/ActivityHeaderView/View/ActivityHeaderView.xib
  Client/Teztez/Core/UIComponents/ActivityHeaderView/ViewModel/ActivityHeaderViewModel.swift
  Client/Teztez/Core/UIComponents/ActivitySelectValueView/ViewModel/ActivitySelectValueViewModel.swift
  Client/Teztez/Core/UIComponents/ActivitySelectValueView/Views/ActivitySelectValueView.swift
  Client/Teztez/Core/UIComponents/ActivitySelectValueView/Views/ActivitySelectValueView.xib
  Client/Teztez/Core/UIComponents/ActivityTextInputView/View/ActivityTextInputView.swift
  Client/Teztez/Core/UIComponents/ActivityTextInputView/View/ActivityTextInputView.xib
  Client/Teztez/Core/UIComponents/ActivityTextInputView/ViewModel/ActivityTextInputViewModel.swift
  Client/Teztez/Flows/Activities/Controller/ActivitiesCollectionViewDataSource.swift
  Client/Teztez/Flows/Activities/Controller/ActivitiesCollectionViewDelegate.swift
  Client/Teztez/Flows/Activities/Controller/ActivitiesViewController.swift
  Client/Teztez/Flows/Activities/Coordinator/ActivitiesCoordinator.swift
  Client/Teztez/Flows/Activities/Store/ActivitiesItemType.swift
  Client/Teztez/Flows/Activities/Store/ActivitiesStore.swift
  Client/Teztez/Flows/Activities/ViewModel/ActivitiesViewModel.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/Controller/ActivitiesIntroViewController.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/View/ActivitiesIntroBlockView/ActivitiesIntroBlockView.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/View/ActivitiesIntroBlockView/ActivitiesIntroBlockView.xib
  Client/Teztez/Flows/Common/ActivitiesIntro/View/ActivityIconView/ActivityIconView.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/View/ActivityIconView/ActivityIconView.xib
  Client/Teztez/Flows/Common/ActivitiesIntro/ViewModel/ActivitiesIconViewModel.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/ViewModel/ActivitiesIntroBlockViewModelFactory.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/ViewModel/ActivitiesIntroViewModel.swift
  Client/Teztez/Flows/Common/TextInput/Controller/TextInputViewController.swift
  Client/Teztez/Flows/Common/TextInput/Localization/TextInput.strings
  Client/Teztez/Flows/Common/TextInput/Store/TextInputStore.swift
  Client/Teztez/Flows/PersonalCoach/Coordinator/PersonalCoachCoordinator.swift
  Client/Teztez/Flows/PersonalCoach/Coordinator/PersonalCoachModuleFactory.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Controller/PersonalCoachPickerViewDataSource.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Controller/PersonalCoachPickerViewDelegate.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Controller/PersonalCoachViewController.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Controller/PersonalCoachViewController.xib
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Localization/PersonalCoach.strings
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Store/PersonalCoachConfiguration.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Store/PersonalCoachStore.swift
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/right-arrow-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/right-arrow-icon.imageset/right-arrow-icon.pdf
Labels: client, feature

#35 feature/personal-coach-logic
  Client/Teztez.xcodeproj/project.pbxproj
  Client/Teztez/Core/Extensions/String/String+WordList.swift
  Client/Teztez/Core/UIComponents/SecondaryButton/SecondaryButton.swift
  Client/Teztez/Flows/PersonalCoach/Coordinator/PersonalCoachCoordinator.swift
  Client/Teztez/Flows/PersonalCoach/Coordinator/PersonalCoachModuleFactory.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalCoachResult/Controller/PersonalCoachResultViewController.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalCoachResult/Controller/PersonalCoachResultViewController.xib
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalCoachResult/Localization/PersonalCoachResult.strings
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalCoachResult/Store/PersonalCoachResultStore.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalCoachTraining/Controller/PersonalCoachTrainingViewController.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalCoachTraining/Controller/PersonalCoachTrainingViewController.xib
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalCoachTraining/Localization/PersonalCoachTraining.strings
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalCoachTraining/Store/PersonalCoachTrainingStore.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Controller/PersonalCoachViewController.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Controller/PersonalCoachViewController.xib
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Localization/PersonalCoach.strings
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Store/PersonalCoachConfiguration.swift
  Client/Teztez/Flows/PersonalCoach/Modules/PersonalConfiguration/Store/PersonalCoachStore.swift
Labels: client, feature

#39 feature/deployment
  .dockerignore
  .env.example
  .gitignore
  Dockerfile
  Server/Content/.dockerignore
  Server/Content/.gitignore
  Server/Content/docker-compose.yml
  Server/Feed/.dockerignore
  Server/Feed/Sources/App/Mocks/Providers.swift
  Server/Feed/docker-compose.yml
  Server/Feedback/.dockerignore
  Server/Feedback/.gitignore
  Server/Feedback/Dockerfile
  Server/Feedback/Sources/App/databases.swift
  Server/Feedback/docker-compose.yml
  Server/Gateway/.dockerignore
  Server/Gateway/.env
  Server/Gateway/.gitignore
  Server/Gateway/Package.swift
  Server/Gateway/Sources/App/Controllers/.gitkeep
  Server/Gateway/Sources/App/Controllers/GatewayController.swift
  Server/Gateway/Sources/App/Controllers/Service.swift
  Server/Gateway/Sources/App/Controllers/ServiceNode.swift
  Server/Gateway/Sources/App/Extensions/RoutesBuilder+Use.swift
  Server/Gateway/docker-compose.yml
  docker-compose.yml
Labels: feature, infra, server

#38 feature/blender-game-mode
  Client/Teztez.xcodeproj/project.pbxproj
  Client/Teztez/Core/Architecture/Navigation/Factories/CoordinatorFactory.swift
  Client/Teztez/Flows/Activities/Coordinator/ActivitiesCoordinator.swift
  Client/Teztez/Flows/Blender/Coordinator/BlenderCoordinator.swift
  Client/Teztez/Flows/Blender/Coordinator/BlenderModuleFactory.swift
  Client/Teztez/Flows/Blender/Modules/BlenderConfiguration/Controller/BlenderConfigurationViewController.swift
  Client/Teztez/Flows/Blender/Modules/BlenderConfiguration/Controller/BlenderConfigurationViewController.xib
  Client/Teztez/Flows/Blender/Modules/BlenderConfiguration/Localization/BlenderConfiguration.strings
  Client/Teztez/Flows/Blender/Modules/BlenderConfiguration/Store/BlenderConfiguration.swift
  Client/Teztez/Flows/Blender/Modules/BlenderConfiguration/Store/BlenderConfigurationStore.swift
  Client/Teztez/Flows/BlenderConvert/Controller/BlenderConvertViewController.swift
  Client/Teztez/Flows/BlenderConvert/Controller/BlenderConvertViewController.xib
  Client/Teztez/Flows/BlenderConvert/Localization/BlenderConvert.strings
  Client/Teztez/Flows/BlenderConvert/Store/BlenderConvertStore.swift
Labels: client, feature

#45 feature/auth
  .env.example
  Server/Gateway/Dockerfile
  Server/Gateway/Package.swift
  Server/Gateway/Sources/App/Controllers/AuthController.swift
  Server/Gateway/Sources/App/Controllers/GatewayController.swift
  Server/Gateway/Sources/App/Extensions/RoutesBuilder+Use.swift
  Server/Gateway/Sources/App/Migrations/CreateUser.swift
  Server/Gateway/Sources/App/Models/User.swift
  Server/Gateway/Sources/App/Models/UserToken.swift
  Server/Gateway/Sources/App/configure.swift
  Server/Gateway/Sources/App/databases.swift
  Server/Gateway/Sources/App/middleware.swift
  Server/Gateway/Sources/App/migrations.swift
  Server/Gateway/Sources/App/routes.swift
  Shared/Models/Sources/TokenResponse.swift
  Shared/Models/Sources/UserResponse.swift
  docker-compose.yml
Labels: feature, server

#47 feature/authorization
  Client/Teztez.xcodeproj/project.pbxproj
  Client/Teztez.xcworkspace/contents.xcworkspacedata
  Client/Teztez/Core/Architecture/Navigation/ApplicationCoordinator.swift
  Client/Teztez/Core/Architecture/Navigation/ApplicationLaunchInstructor.swift
  Client/Teztez/Core/Architecture/Navigation/Factories/CoordinatorFactory.swift
  Client/Teztez/Core/Design System/ColorStyles.swift
  Client/Teztez/Core/Extensions/UINavigationController/UINavigationController+StatusBar.swift
  Client/Teztez/Core/Storages/KeychainStorage.swift
  Client/Teztez/Core/UIComponents/PrimaryTextField/PrimaryTextField.swift
  Client/Teztez/Core/UserSession.swift
  Client/Teztez/Flows/Auth/Coordinator/AuthCoordinator.swift
  Client/Teztez/Flows/Auth/Coordinator/AuthModuleFactory.swift
  Client/Teztez/Flows/Auth/Modules/Controller/AuthViewController.swift
  Client/Teztez/Flows/Auth/Modules/Controller/AuthViewController.xib
  Client/Teztez/Flows/Auth/Modules/Localization/Auth.strings
  Client/Teztez/Flows/Auth/Modules/Store/AuthStore.swift
  Client/Teztez/Flows/Auth/Provider/AuthProvider.swift
  Client/Teztez/Flows/Common/ActivitiesIntro/View/ActivityIconView/ActivityIconView.swift
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/glasses-icon.imageset/Contents.json
  Client/Teztez/Resources/Suporting Files/Assets.xcassets/Icons/glasses-icon.imageset/glasses-icon.pdf
  Shared/Models/Sources/TokenResponse.swift
  Shared/Models/Sources/UserResponse.swift
Labels: client, feature
